/* Global Variables */
:root {
    --main: #ff041d;
      }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Besley", serif;
    outline: none;
    border: none;
    transition: 0.2s all linear;
    text-decoration: none;
    text-transform: capitalize;
  }

  *::selection {
    background: var(--main);
    color: #000;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-transform: uppercase;
    scroll-padding-top: 7rem;
  }



  .heading span {
    color: var(--main);
    text-transform: uppercase;
  }

  .heading{
    text-align: center; 
    font-size: xxx-large;
  }

  .home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    padding-top: 10rem;
  }

  .home .img,
.home .content {
  flex: 1 1 45rem;
}
.home .img img {
  width: 100%;
}
.home .content h3 {
  font-size: 4.5rem;
  line-height: 1.8;
  text-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.1);
}
.home .content p {
  font-size: 1.7rem;
  color: #333;
  padding: 1rem 0;
  line-height: 1.8;
}

/* Icon Section Start */
.IconContainer {
    margin-bottom: 200px;
  }
  .IconContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .IconContainer .icons {
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.7);
    border: 0.2rem solid var(--main);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2.5rem;
  }
  .IconContainer .icons:hover {
    transform: scale(1.09);
    cursor: pointer;
  }
  .IconContainer .icons i {
    color: var(--main);
    padding-bottom: 0.7rem;
    font-size: 4.5rem;
  }
  .IconContainer .icons:hover i {
    transform: scale(1.8);
  }
  .IconContainer .icons h3 {
    font-size: 4.5rem;
    padding: 0.5rem 0;
  }
  .IconContainer .icons p {
    font-size: 1.7rem;
    color: #333;
  }
  /* Icon Section End */

  .btn {
    display: inline-block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.7rem;
    color: var(--main);
    border-radius: 0.5rem;
  }
  .btn span {
    background: var(--main);
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
  }
  .btn:hover {
    background: var(--main);
    color: #fff;
  }
  .btn:hover span {
    color: var(--main);
    background: #fff;
    margin-left: 1.2rem;
  }